@font-face{
  font-family: "Paysage";
  src: url("Paysage-Black.woff2") format("woff2"),
    url("Paysage-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Paysage";
  src: url("Paysage-Bold.woff2") format("woff2"),
    url("Paysage-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Paysage";
  src: url("Paysage-Medium.woff2") format("woff2"),
    url("Paysage-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Paysage";
  src: url("Paysage-Regular.woff2") format("woff2"),
    url("Paysage-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}